name: Build CatSeedLogin Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --release

    - uses: actions/upload-artifact@v6
      with:
        name: CatSeedLogin-${{ matrix.os }}
        path: |
          target/release/*.dll
          target/release/*.dylib
          target/release/*.so
