name: Build CatSeedLogin Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  RUSTFLAGS: "-A warnings"

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Get version
      run: |
        VERSION=$(grep -E '^version\s*=' Cargo.toml | cut -d'"' -f2)
        echo "version=$VERSION" >> $GITHUB_ENV

    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable
        profile: minimal

    - run: cargo build --release

    - name: Copy artifact
      run: |
        if [[ "${{ matrix.os }}" == windows* ]]; then EXT=dll
        elif [[ "${{ matrix.os }}" == ubuntu* ]]; then EXT=so
        else EXT=dylib; fi
        find target/release -name "*.$EXT" -exec cp {} dist/CatSeedLogin.$EXT \;

    - uses: actions/upload-artifact@v4
      with:
        name: CatSeedLogin-${{ env.version }}-${{ matrix.os }}
        path: dist/CatSeedLogin.*
        retention-days: 90
